<% @teachers.each do |teacher| %>
  <tr>
    <td><%= [teacher.first_name, teacher.last_name].join(' ') %></td>
    <td>
      <% ratings = Rating.teacher_ratings(teacher.id) %>
      Ratings: <%= ratings %>
      <div class="rating">
        <% (1..5).each do |i| %>
          <% if ratings > i.to_f || ratings == i.to_f %>
            <i class="glyphicon glyphicon-star"></i>
          <% elsif ratings + 1 > i && ratings < i.to_f %>
              <i class="glyphicon glyphicon-star half"></i>
          <% else %>
            <i class="glyphicon glyphicon-star empty"></i>
          <% end %>

        <% end %>
      </div>
    </td>
    <td><%= link_to "Rate me", "#{new_rating_path}?teacher_id=#{teacher.id}", remote: true, class: "btn btn-info" %></td>
  </tr>
<% end %>
